@import "tailwindcss";

.input {
  @apply w-full border rounded-md px-3 py-2;
}
.btn {
  @apply inline-flex items-center gap-2 border rounded-md px-3 py-2;
}
.btn-primary {
  @apply bg-black text-white;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

@layer base {
  :root {
    --font-archivo: "Archivo", sans-serif;
  }
}

.font-archivo {
  font-family: var(--font-archivo);
}
